<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleKey</key>
		<string>rank0</string>
		<key>likes</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank1</string>
		<key>likes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank2</string>
		<key>likes</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank3</string>
		<key>likes</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank4</string>
		<key>likes</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank5</string>
		<key>likes</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank6</string>
		<key>likes</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank7</string>
		<key>likes</key>
		<integer>5000</integer>
	</dict>
	<dict>
		<key>titleKey</key>
		<string>rank8</string>
		<key>likes</key>
		<integer>10000</integer>
	</dict>
</array>
</plist>
